{% include 'header.html' %}
<br /> <br /> <br /> <br />
<form method="post" action="/store" enctype="multipart/form-data">
  Nombre:
  <input type="text" name="txtnombalumno" id="txtnombalumno" /> <br />
  Apellido:
  <input type="text" name="txtapellidoalum" id="txtapellidoalum" /><br />
  DNI:
  <input type="text" name="txtdnialumno" id="txtdnialumno" /><br />
  Email:
  <input type="Email" name="txtemailalumno" id="txtemailalumno" /><br />
  Representante:
  <input type="Number" name="txtidrepresentante" id="txtidrepresentante" /><br />
  Curso:
  <input type="Number" name="txtidcurso" id="txtidcurso" /><br />
  Foto:
  <input type="file" name="txtfotoalumno" id="txtfotoalumno" /><br /><br />
  <input type="submit" value="Agregar" />
</form>
