{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro de Curso</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Estilos personalizados */
        .form-container {
            margin: 30px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        }
        .form-group img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    
    {% for curso in curso %}
    <div class="container form-container">
        <form method="post" action="/updatecurso" enctype="multipart/form-data">
            <div class="form-group">
                <label for="txtidcurso">ID:</label>
                <input type="text" class="form-control" value="{{ curso[0] }}" name="txtidcurso" id="txtidcurso" readonly>
            </div>
            <div class="form-group">
                <label for="txtnombcurso">Nombre del Curso:</label>
                <input type="text" class="form-control" value="{{ curso[1] }}" name="txtnombcurso" id="txtnombcurso">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    {% endfor %}
    {% include 'footer.html' %}
    
    