{% include 'header.html' %} {% for alumno in alumnos %}

<form method="post" action="/update" enctype="multipart/form-data">
  ID:
  <input
    type="text"
    value="{{ alumno[0] }}"
    name="txtidalumno"
    id="txtidalumno"
  />
  Nombre:
  <input
    type="text"
    value="{{ alumno[1] }}"
    name="txtnombalumno"
    id="txtnombalumno"
  /><br />
  Apellido:
  <input
    type="text"
    value="{{ alumno[2] }}"
    name="txtapellidoalum"
    id="txtapellidoalum"
  /><br />
  DNI:
  <input
    type="text"
    value="{{ alumno[3] }}"
    name="txtdnialumno"
    id="txtdnialumno"
  /><br />
  Email:
  <input
    type="Email"
    value="{{ alumno[4] }}"
    name="txtemailalumno"
    id="txtemailalumno"
  /><br />
  id Representante:
  <input
    type="Number"
    value="{{ alumno[5] }}"
    name="txtidrepresentante"
    id="txtidrepresentante"
  />
  Nombre del Representante:
  <input
    type="text"
    value="{{ alumno[8] }}"
    name="txtnombrerep"
    id="txtnombrerep"
    readonly
  />
  Apellido del Representante:
  <input
    type="text"
    value="{{ alumno[9] }}"
    name="txtnombrerep"
    id="txtnombrerep"
  />
  <br />
  Curso:
  <input
    type="Number"
    value="{{ alumno[6] }}"
    name="txtidcurso"
    id="txtidcurso"
  />
  Nombre del Curso:
  <input
    type="text"
    value="{{ alumno[11]}}"
    name="txtnombcurso"
    id="txtnombcurso"
    readonly
  />

  <br />
  <div class="row">
    <div class="col-2">
      Foto Actual:
      <br />
      <img
        type="text"
        class="img-thumbnail"
        width="100"
        src="{{url_for('uploads', fotoalumno=alumno[7])}}"
        alt=""
      />
    </div>
    <div class="col-6">
      <input
        type="file"
        value= "{{alumno[7]}}"
        name="txtfotoalumno"
        id="txtfotoalumno"
      /><br />
    </div>

    <br /><br />
  </div>
  <input type="submit" value="Guardar" />
</form>

{% endfor %} {% include 'footer.html' %}
