{% include 'header.html' %}

<div class="container form-container">
    <br />
    <br />
    <br />
    <br />
    <form method="post" action="/storecurso" enctype="multipart/form-data">
        <div class="form-group">
            <label for="txtnombcurso">Nombre del Curso:</label>
            <input type="text" class="form-control" name="txtnombcurso" id="txtnombcurso">
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>

{% include 'footer.html' %}

