<html lang="en">
  <head>
    <title>Alumnos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  {% include 'header.html' %}
  <br /> <br /> <br />
  <br /><a href="{{url_for('create')}}" class="btn btn-success"
    >Ingresar Nuevo Alumno</a
  ><br /><br />
  <table class="table">
    <thead class="thead">
      <tr>
        <th>#</th>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Email</th>
        <th>Id-Nombre Rep.</th>
        <th>Id-Nombre Curso</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for alumno in alumno %}    
      <tr>
        <td>{{alumno[0]}}</td>
        <td>
          <img  width="100" src="{{ url_for('static', filename='fotos/' + alumno[7]) }}"  alt="Foto Actual" class="img-thumbnail">
        </td>      
        <td>{{alumno[1]}}</td>
        <td>{{alumno[2]}}</td>
        <td>{{alumno[3]}}</td>
        <td>{{alumno[4]}}</td>
        <td>{{alumno[5]}} - {{alumno[9]}} {{alumno[10]}}</td>
        <td>{{alumno[6]}} - {{alumno[11]}}</td>
        <td>
          <a class="btn btn-warning" title="Editar Datos Alumno" href="/edit/{{alumno[0]}}"><img src="/static/icons/editar.svg"/></a>
          <a
            class="btn btn-danger" title="Eliminar Datos Alumno"
            onclick="return confirm('¿Desea Eliminar los datos del Alumno?')"
            href="/destroy/{{alumno[0]}}"
            ><img src="/static/icons/eliminar.svg"/></a
          >
        <a
          class="btn btn-info"
          title="Listar Materias Alumno"
          onclick="return confirm('¿Desea Listar materias-curso del alumno?')"
          href="/listarmatalumno/{{alumno[0]}},{{alumno[6]}}"
          ><img src="/static/icons/listmatcurprof.svg"
        /></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'footer.html' %}
</html>
